<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBookShop" />
                <binding name="BasicHttpBinding_IBookShop1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/BookService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBookShop" contract="MyBookShop.IBookShop"
                name="BasicHttpBinding_IBookShop" />
            <endpoint address="http://localhost:8080/BookService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBookShop1" contract="MyBookService.IBookShop"
                name="BasicHttpBinding_IBookShop1" />
        </client>
    </system.serviceModel>
</configuration>